.interactive_map {
  background-color: white;
  white-space: nowrap;
  color: gray;
  width: 820px;
  height: 820px;
  margin-left: 10%;
  margin-right: 10%;
  padding: 10px;
}

.country_details {
  /* position: relative; */ /* margin-right: 30%; padding-left: 0%; */
  margin-left: 5%; /* margin-top: 5%; */ /* float: left; */
  display: grid;
  font: 12px; /* display: inline-block; */
  width: 20%; /* margin-top: 20%; */
}

.details_container {
  /* width: auto; */
  display: inline-block;
  width: 45%;
  overflow: auto; /* border: 2px solid white; */
}

svg {
  /* float: left; */
  margin-top: 5%;
  display: inline-block; /* width: auto; */ /* margin-left: 15%; */
  border: 2px solid white; /* box-sizing: border-box; overflow: hidden; */ /* z-index: -1; */
}

.country {
  stroke: #000000;
  stroke-opacity: 0.5;
  stroke-width: 0.17324010531107584;
  stroke-dasharray: none;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 10;
  fill: #84ade9;
  fill-opacity: 1;
  fill-rule: nonzero;
  opacity: 1;
}

.country:hover {
  stroke: white;
  stroke-width: 0.4;
  stroke-dasharray: none;
  stroke-linecap: round;
  fill: white;
  fill-opacity: 1;
  fill-rule: nonzero;
  opacity: 1;
}

.width_warning {
  visibility: hidden;
}



@media screen and (max-width: 1200px) {
  .interactive_map {
    visibility: hidden;
  }

  .width_warning {
    visibility: visible;
    text-align: center;
  }
}


body {
  background: #84ade9;
}